#color_box {
    width: 200px;
    height: 200px;
}
.gray {
    background: gray;
}
.blue {
    background: rgb(67, 111, 255);
}
/*
TODO 1
Add a CSS rule for the pink button
*/
.pink {
    background: pink;
}